# Database
DATABASE_URL="postgresql://neondb_owner:"

# GitHub
GITHUB_TOKEN="github_token_here"

# AI APIs (Choose one)
GEMINI_API_KEY="Gemini_Api_here"
GROQ_API_KEY="Groq_Api_here"
HF_API_KEY="HuggingFace_Api_here"

# Oumi (optional for hackathon)
OUMI_API_KEY="oumi_api_here"

# Kestra
KESTRA_API_URL="http://localhost:8080"
KESTRA_API_KEY="kestra_api_here"